<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>折线图</title>
    <script src="{{ url_for('static', filename = 'echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'jquery-3.5.1.js') }}"></script>
</head>
<body>
<!--为echarts准备一个容器，画图就画在里面-->
<div id="box" style="width: 600px;height: 600px;"></div>


<script>
var myChart = echarts.init(document.getElementById("box"));
		myChart.setOption({
            //图标题
			title:{text: '每日获取原始情报数量'},
            //图提示框
			tootip:{},
            //图例
			legend:{
				data:['数量']
			},
            //x轴属性
			xAxis:{
				data:{{ my_dict['datetime']|tojson }}
			},
            //y轴属性
			yAxis:{},
			//图属性
			series:[
				{
					name:'数量',
					type:'bar',//图类型：柱状图
					color:['#3398DB'],//设置图像颜色
					data:{{ my_dict['data'] }}//图表的数值
				}
			]
		});

		
				

</script>

<script>
var myChart = echarts.init(document.getElementById("box2"));
		myChart.setOption({
            //图标题
			title:{text: '情报来源'},

			//图属性
			series:[
				{
					name:'数量',
					type:'pie',//图类型：饼图
					//color:['#3398DB'],//设置图像颜色
					data:{{ my_dict2 }}//图表的数值
				}
			]
		});

		
				

</script>

<form action="http://39.105.177.36:5000/result"" method="POST">
     <p>Name <input type = "text" name = "Name" /></p>
     <p><input type = "submit" value = "submit" /></p>
  </form>


</body>
</html>

